*{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
}

div {
    display: block;
}

a{
    text-decoration: none;
    transform: translate(-50%,-50%);
    font-size: 150%;
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    width: 20%;
    height: 10%;
    color:white;
    line-height: 500%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    background-size: 400%;
    z-index: 1;
}

a#sc {
    position: fixed;
    left: 50%;
    top: 60%;
}

a#sv {
    position: fixed;
    left: 50%;
    top: 30%;
}

a{
    animation: sun 8s infinite;
}

a:before{
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top:-5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter:blur(20px);
    z-index: -1;
}

a:hover{
    animation: sun 8s infinite;
}

@keyframes sun{
    100%{
        background-position: -400% 0;
    }
}

@media screen and (max-width: 480px) {
    a {
        font-size: 90%;
    }
}