@charset "utf-8";

/*
   Author:   Xiaoqiang Wei
   Date:     05/17/2021
*/

html {
    font-size: 1em;

    background: linear-gradient(to bottom right, gray, silver);

}
h1, h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

div#header {
    background-color: white;
}

div#deeds {
    background-color: #E5E5E8;
}

div {
    margin: 20px;
}

h1, #img-caption, #footers, h2 {
    text-align: center;
}

article {
    display: block;
    margin: auto;
}

#footers {
    display: block;
    font-size: 1.5em;
    margin: -10px auto 10px auto;
}

#footers a:link, #footers a:visited {
    color: rgb(22, 98, 212);;
    text-decoration: none;
}

#footers a:hover {
    color: yellow;
}

img{
    display: block;
    margin: auto;
    padding-top: 20px;
}

blockquote {
    font-style: italic;
    margin: 0 auto 50px auto;
    text-align: center;
    max-width: 460px;
}

li {
    list-style-type: disc;
    margin: 10px;
}

div#topLinks {
    height: 30px;
    text-align: right;
    font-size: 1em;
}

#topLinks a {
    border: 1px solid white;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: white;
}


#topLinks a:link, #topLinks a:visited {
    color: rgb(22, 98, 212);
    text-decoration: none;
}

#topLinks a:hover {
    color: yellow;
}



@media screen and (min-width: 481px) {
    article {
        max-width: 460px;
    }    

    #topLinks a {
        display: block;
        float: right;
        margin-left: 20px;
    }

    div.divider {
        display: flex;
        align-items: center;
        color: yellow;
    }

    div.divider::before, div.divider::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: black;
    }
}

@media screen and (max-width: 480px) {
    html {
        width: 100%;
    }
    img {
        width: 100%;
    }
    #topLinks a {
        display: block;
        float: right;
        margin-left: 20px;
    }
}