@charset "utf-8";

/*
   Author:   Xiaoqiang Wei
   Date:     05/17/2021
*/

html {
    height: 100%;
    width: 100%;
    background-color: hsl(22, 100%, 70%);
}

div.divider, div#h1, div#h2 {
    display: block;
    margin: 15px;
}

h1 {
    font-size: 2em;
    line-height: 2em;
}

h2 {
    font: 1em sans-serif;
}

h1,h2 {
    text-align: center;
}

form {
    margin: auto;
}

label {
    font-size: 1.5em;
    margin: 5px;
}

input:not(#yes, #no, #sub), select, textarea {
    font-size: 1em;
    margin: 5px 5px 10px 5px;
    width: 95%;
    height: 40px;
}

input#yes, input#no {
    font-size: 1em;
    margin: 5px 5px 10px 5px;
}

div#yesNo {
    margin: 10px auto;
}

textarea {
    height: 80px;
    font-size: 1.5em;
}

input#sub {
    display: block;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    width: 100px;
    height: 50px;
}


input:focus {
    background-color: rgb(245, 245, 140);   
}

input#fnBox:focus:valid, input#lnBox:focus:valid, input#phoneBox:focus:valid,  input#ageBox:focus:valid {
    background-color: rgb(220, 255, 220);
}

input#fnBox:focus:invalid, input#lnBox:focus:invalid, input#phoneBox:focus:invalid,  input#ageBox:focus:invalid {
    background-color: rgb(255, 232, 232);
}
    
@media screen and (min-width: 481px) {

    h1 {
        margin-top: -30px;
    }
    
    div.button {
        position: fixed;
    }
    
    div.divider {
        display: flex;
        align-items: center;
        color: yellow;
        height: 130px;
    }

    div.divider::before, div.divider::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: black;
    }

    div#form {
        border: 1px solid black;
        border-radius: 50px;
        padding: 20px 50px;
        width: 50%;
        height: auto;
        margin: auto;
        background-color: hsl(0, 0%, 20%);
        color: white;
    }

    a{
        text-decoration: none;
        transform: translate(-50%,-50%);
        font-size: 15px;
        background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
        width: 10%;
        height: 5%;
        color:white;
        line-height: 60px;
        text-align: center;
        border-radius: 50px;
        background-size: 400%;
        z-index: 1;
    }
    
    
    a#ho {
        position: fixed;
        left: 69%;
        top: 3%;
    }

    a#tp {
        position: fixed;
        left: 93%;
        top: 3%;
    }
    
    a#sp {
        position: fixed;
        left: 81%;
        top: 3%;
    }
    
    a{
        animation: sun 8s infinite;
    }
    
    a:before{
        content: "";
        position: fixed;
        left: -1%;
        right: -1%;
        top:-1%;
        bottom: -1%;
        background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 400%;
        border-radius: 50px;
        filter:blur(20px);
        z-index: -1;
    }
    
    a:hover{
        animation: sun 8s infinite;
    }
    
    @keyframes sun{
        100%{
            background-position: -400% 0;
        }
    }

    
}

@media screen and (max-width: 480px) {
    
    html {
        width: 100%;
        display: block;
    }


    #topLinks {
        display: flex;
        flex-flow: column;
        margin-left: 20px;
    }
    
    #topLinks a {
        float: right;
        margin: 5px;
        width: 100px;
    }

    div#h1 {
        font-size: 1.2em;
    }

    div#form {
        border: 1px solid black;
        border-radius: 50px;
        padding: 20px 50px;
        width: 50%;
        height: auto;
        margin: auto;
        background-color: hsl(0, 0%, 20%);
        color: white;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: violet;
    }
    
    a:hover {
        color: black;
    }

    a {
        border: 1px solid white;
        background-color: white;
        color: violet;
        height: 18px;
        text-align: center;
        border-radius: 15px;
    }

    
}